
:root{
	
	--color-rosa: #eec9df;
	--fondo: #0000;
	--texto-sub: #fff;
}

body{
	background-color:rgba(0,0,0,1.00);
	color: #fff;
	margin: 0px;
}

footer{
	background-color: #343434;
	text-align: center;
	padding: 20px 0;
}



#hero{
	background-color:rgba(0,0,0,1.00);
}

#hero h1 {
	text-align: center;
	font-family: "GalanoGrotesque-ExtraBold"
	
	
}
#hero img{
	width: 800px;
	clip-path: inset(144px 10px 144px 10px)
	
}

#hero p{
	text-align: center;
	background-color: var(--color-rosa);
	padding: 10px;
	font-size: 20px
}



#know{
	background-color:rgba(0,0,0,1.00);
}
#know img{
	width: 300px;
	align-content: center;
}

#know h2{
	color: #eec9df;
}

#know h3{
	color: #eec9df;
}

#partners{
	background-color: #8CB1E4;
}

#partners img{
	width: 200px;
}

#stage {
	align-content: flex-end
	
}

#subcription{
	background-image: url("../img/how-to-shoot-music-concert-featured-image.webp");
	background-size:cover;
	padding: 80px
}
#subcription h2{
	color: #eec9df;
	
}


.lineup {
	text-align: center;
            padding: 20px;
}

.lineup h2{
	 font-size: 24px;
            margin-bottom: 40px;
}

 .artist-container {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        .artist {
            text-align: center;
        }
        .artist img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 8px;
        }
        .artist p {
            margin-top: 10px;
            font-size: 18px;
        }



